/* styles.css */

body {
    font-family: Arial, sans-serif;
  }
  
  h1 {
    margin-bottom: 1em;
  }
  
  form {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
  }
  
  input[type=text] {
    margin-right: 1em;
  }
  
  button {
    margin-top: 1em;
    width: 6em;
  }
  
  p.error {
    color: red;
    font-weight: bold;
    margin-top: 1em;
  }
  